[Unit]
Description=Servian To Do App
[Service]
Type=simple
User={{ app_name }}
WorkingDirectory=/usr/sbin/{{ app_name }}
ExecStart=/usr/sbin/{{ app_name }}/TechChallengeApp serve
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target